<%- include("./partials/head") %>
    <body>
        <h1>Acknowledgements</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BootStrap</h5>
                  <p class="card-text">Used for Design of the Pages</p>
                  <a href="#" class="btn btn-primary">Check it here ➡️</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://miro.medium.com/max/1400/1*XP-mZOrIqX7OsFInN2ngRQ.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ExpressJS</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Explore More ➡️</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Education</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Explore More ➡️</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Healthcare</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Explore More ➡️</a>
                </div>
              </div>
            </div>
          </div>
        
    </body>
    </html>