<%- include("./partials/head") %>
</head>
    <body>
        <h1>Welcome to Kailashpuram Society (केलाशपुरम मेें स्वागत है) 🏡</h1>
        


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://i0.wp.com/calmatters.org/wp-content/uploads/2022/05/housing-5.18.22.jpg?fit=1200%2C758&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Housing(हाुसिन्ग)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://blog.vantagecircle.com/content/images/2020/08/teamwork-and-team-building.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">RWA Issues (आर डबलु ए)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="/rwa_issues" target="_blank" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-photo/education-day-arrangement-table-with-copy-space_23-2148721266.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://static-www.elastic.co/v3/assets/bltefdd0b53724fa2ce/blta401f2e7dad39503/620d844d9d54947c7f131b0a/illustration-industry-health.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Healthcare</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
  </div>
  <h1></h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://www.calgary.ca/content/dam/www/corporate-communications/locations/parks-information-locations.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Parks</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-vector/collection-shops-stores_53876-28381.jpg?w=2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shops and Businesses</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-vector/plumbing-pipes-set-grey-metal-tubes-with-valves-industrial-pipelines-water-drains-isolated-flat-vector-illustrations-engineering-connection-system-concept_74855-10135.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Basic Amenities</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-vector/shopping-mall-outside-composition-mall-building-with-tags-headlines-shops-wall_1284-58788.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Entertainment</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
          <a href="#" class="btn btn-primary">Explore More ➡️</a>
        </div>
      </div>
    </div>
  </div>
            
            
            
    </body>
</html>